/* 
  Your browse page will display a photo gallery with a description to the right of the image. The images must be at least 200 x 200 and the description must be 150 x 200. You must have at least 10 images with descriptions and they must line up in a grid pattern and be spaced equally. 
*/

.gallery {
  .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    gap: $spacing;

    .card-holder {
      margin-bottom: 2rem;

      .card {
        margin-bottom: 1rem;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;

        .image-holder {
          position: relative;

          img {
            border-radius: $border-radius-lg;
            height: 200px;
            width: 200px;
          }

          //https://www.w3schools.com/howto/howto_css_image_text.asp
          .btn-overlay {
            //take no chances since button is inline by default
            // display: block;
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
          }

          .button-holder {
            display: none;
            gap: 0.5rem;

            .btn {
              cursor: pointer;
            }
          }

          &:hover .btn-overlay {
            display: block;
          }

          &:hover .button-holder {
            display: flex;
          }
        }

        .card-body {
          background-color: $brand-light;
          width: 150px;
          height: 200px;
          border-radius: $border-radius-lg;
          padding: $spacing;
          display: flex;
          flex-direction: column;
          justify-content: center;

          overflow: hidden;

          .card-title {
            color: $brand-primary;
          }

          //https://kiranworkspace.com/ellipsis-to-multiline-text-in-css/
          //
          //https://css-tricks.com/line-clampin/#the-standardized-way
          .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  //since nested above, need to nest here
  //both could be refactored to be flatter
  .gallery {
    .cards {
      .card-holder {
        .card {
          .image-holder {
            .btn-overlay {
              display: block;
            }

            .button-holder {
              display: flex;
            }
          }
        }
      }
    }
  }
}
